@charset "utf-8";
/* CSS Document */

body {
  font-family: Georgia, Times, serif;
  color: #000000;
  line-height: 140%;
  margin: 30px 30px 30px 30px;
  background-image: url("page-bg.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;
}

header h1 {
  font-size: 350%;
  color: #7C1A00;
  padding: 40px;
}
